
.navbar {
    background-color: rgb(49, 176, 235);
}

.jumbotron {
    font-family: 'Permanent Marker', cursive;
    background-image: linear-gradient(to right, rgb(211, 199, 31), rgb(221, 233, 53), rgb(160, 190, 24));
    margin: 0px;
    padding: 0px;
}
.body {
    font-family: 'Alegreya Sans', sans-serif;
}

.loginButton {
    position: absolute;
    right: 15px;
}

.site-footer {
    background-image: linear-gradient(rgb(120, 196, 231), white);
    padding: 20px;
}

.search-container {
    position: absolute;
    right: 110px;
}

#nuCarousel {
    width: 50rem;
    height: 50rem;
    padding: 10px
}

