
.navbar {
    background-color: rgb(49, 176, 235);
}
.jumbotron {
    font-family: 'Permanent Marker', cursive;
    background-color: white;
    margin: 0;
    padding: 30px;
}
.body {
    font-family: 'Alegreya Sans', sans-serif;
}
#loginModal{
}

.loginButton {
    position: absolute;
    right: 15px;
}

.site-footer {
    background-image: linear-gradient(rgb(120, 196, 231), white);
    padding: 20px;
}

